[submodule "repo/script.module.beautifulsoup4"]
	path = repo/script.module.beautifulsoup4
	url = https://github.com/slrwin/script.module.beautifulsoup4
[submodule "repo/plugin.video.jiotv"]
	path = repo/plugin.video.jiotv
	url = https://github.com/krreet/plugin.video.jiotv
[submodule "repo/a4kSubtitles"]
	path = repo/a4kSubtitles
	url = https://github.com/a4k-openproject/a4kSubtitles
[submodule "repo/plugin.program.desiwizard"]
	path = repo/plugin.program.desiwizard
	url = https://github.com/slrwin/plugin.program.desiwizard

