<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Interface">
		<setting type="lsep" label="Playback:"/>
        <setting id="playbackMethod" label="Playback Method" type="enum" default="0" values="Select Quality Via Dialog|Auto Play Highest Quality|Auto Play Lowest Quality"/>
        <setting type="sep"/>
        <setting type="lsep" label="Catalog:"/>
        <setting id="showCatalog" label="Show Catalog Sections" type="bool" default="true"/>
        <setting id="showCatalogThumbs" label="Show Letter Thumbnails" subsetting="true" type="bool" default="false" enable="eq(-1,true)"/>
        <setting id="useLatestDate" label="Order &#39;Latest Releases&#39; By Date" type="bool" default="true"/>
        <setting id="showLatestThumbs" label="Show &#39;Latest Releases&#39; Thumbnails" type="bool" default="true"/>
        <setting id="showSeriesThumbs" label="Show &#39;Series&#39; Thumbnails" type="bool" default="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="Episodes:"/>
        <setting id="reverseEpisodes" label="Reverse Episode List Order" type="bool" default="false"/>
        <setting id="cleanupEpisodes" label="Clean Episode Titles" type="bool" default="false"/>
        <setting id="chapterEpisodes" label="Always Show Multi-chapter Dialog" type="bool" default="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="View Mode:"/>
        <setting id="useViewMode" label="Force View Mode" type="bool" default="false"/>
        <setting id="viewModeID" label="Enter View Id" type="number" subsetting="true" enable="eq(-1,true)" default=""/>
    </category>
    <category label="Tools">
        <setting type="lsep" label="[B]To restore the 'watched' status of episodes watched on old WNT2 versions:[/B]"/>
        <setting id="restoreWatched" label="Restore Watched Episodes..." type="action" action="RunPlugin(plugin://plugin.video.watchnixtoons2/?action=actionRestoreDatabase)"/>
        <setting type="sep"/>
        <setting type="lsep" label="[B]To update your Kodi Favourites that have links to old WNT2 domains:[/B]"/>
        <setting id="updateFavourites" label="Update Favourites..." type="action" action="RunPlugin(plugin://plugin.video.watchnixtoons2/?action=actionUpdateFavourites)"/>
    </category>
    <category label="Trakt">
        <setting id="trakt.about" label="About..." type="action" action="RunPlugin(plugin://plugin.video.watchnixtoons2/?action=actionTraktAbout)"/>
        <setting id="clearTrakt" label="Clear Trakt Token" type="action" action="RunPlugin(plugin://plugin.video.watchnixtoons2/?action=actionClearTrakt)"/>
    </category>
    <category label="Debug">
        <setting type="lsep" label="Enable this when Kodi fails to start playing, on newer versions:"/>
        <setting id="useHTTP" label="Use HTTP stream instead of HTTPS" type="bool" default="false"/>
    </category>
</settings>